*::selection { 
	background: #66ca43; 
	color: #fff; 
} 
.cursor.open-project{
width:120px!important;
height:120px!important;
}

.navbar{
z-index:87!important;
}

.get-in-touch-text {
  display: inline-block;
  position: relative;
}
.mega-menu-link {
  display: inline-block;
  position: relative;
}

.mega-menu-link:hover{
	text-decoration:underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset:2px;
}

a:hover {
  color: #fff!important;
}

#cconsent-bar a {
  display: inline;
}

#cconsent-bar button {
  background-color: #66ca43;
  border-radius: 20px;
}