*::selection { 
	background: #66ca43; 
	color: #fff; 
} 
.cursor.open-project{
width:120px!important;
height:120px!important;
}

.navbar{
z-index:87!important;
}

.get-in-touch-text {
  display: inline-block;
  position: relative;
}
.mega-menu-link {
  display: inline-block;
  position: relative;
}

.mega-menu-link:hover{
	text-decoration:underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset:2px;
}

div.footer-wrap a:hover {
  color: #66ca43!important;
}

div.footer-wrap .text-block-7 a:hover {
  color: #fff!important;
}

/* cookie modal */

#cconsent-bar a {
  display: inline;
}

#cconsent-bar button {
  background-color: #66ca43;
  border-radius: 20px;
  padding: 10px 20px!important;
}

#cconsent-modal .ccm__footer button {
  padding: 10px 20px!important;
  border-radius: 20px!important;
}

#cconsent-bar,#cconsent-modal{
  font-family: "Switzer",sans-serif!important;
  font-size: 16px!important;
  font-weight: 300!important;
  line-height: 22px!important;
}

#cconsent-modal {
  color: #000!important;
  line-height: 21px!important;
}

#cconsent-modal .ccm__content > .ccm__content__heading {
  background-color: #fff!important;
}

#cconsent-modal .ccm__footer {
  background-color: #fff!important;
}

#ccm__footer__consent-modal-submit {
  background-color: #666!important;
}

#cconsent-modal .ccm__content > .ccm__content__heading .ccm__cheading__close {
  color: #000!important;
  font-size: 22px!important;
}

#cconsent-modal .ccm__content {
  border-radius: 20px!important;
}

.ccm__tab-head__icon-wedge svg{
  width:24px!important;
  height:24px!important;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tabgroup.checked-5jhk .ccm__tab-head::before {
  font-size: 0.85em!important;
  padding-left: 2px!important;
}

#cconsent-modal .ccm__content > .ccm__content__body .ccm__tab-content p {
  font-size: 14px!important;
}

.ccm__tabgroup.preference,
.ccm__tabgroup.marketing,
.ccm__tabgroup.performance{
  display: none!important;
}

#cconsent-modal .ccm__content {
  background-color: #fff!important;
}

#cconsent-modal .ccm__content {
  min-height: auto!important;
}

.w-background-video>video{
  z-index: 0!important;
}
.w-background-video {
  aspect-ratio: 16/9;
  height: auto;
  width: 100%;
} 

.media-container .w-background-video, .media-container img {
  aspect-ratio: 4/2.93;
  height: auto;
  width: 100%;
}

/* On screens that are > 1024 and < 1100 */
@media screen and (min-width: 1024px) and (max-width: 1099px) {
  h1 {
    font-size:60px!important;
  }

  .heading-jumbo.home-page {
    font-size:90px!important;
  }
}